/* Main Stuff */
html {
	background-image: none;
	background-color: transparent;
}
body {
	background-color: var(--body-bg);
	font-family: 'Lato', 'Segoe UI', 'Helvetica', 'Arial';
	color: var(--body-txt-color);
	font-size: 1rem;
	line-height: 1.2rem;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
a, a:visited {
	color: var(--body-link-color);
}
hr {
	box-shadow: 0 1px 0 hsl(var(--primary-color-hue), 25%, 75%) inset;
}

/* Inputs */
input {
	accent-color: var(--input-accent-color);
}
/* select, input, textarea, button, input.button {
	height: auto;
	min-height: 2.5em;
} */

button.button,
a.button,
input[type="submit"],
.button,
.pagesection .button {
	background: var(--button-bg);
	color: var(--button-txt-color);
	box-shadow: 0px -5px 10px 2px rgba(255, 255, 255, 0.1) inset;
	padding: 1px 12px;
	display: inline-flex;
	min-height: 30px;
	margin: 0;
	border-radius: 5px;
	border-width: 1px;
	border-color: var(--titlebg-bg);
	align-items: center;
}
button.button:hover, button.button:focus,
a.button:hover, a.button:focus,
input[type="submit"]:hover, input[type="submit"]:focus,
.button:hover, .button:focus,
.pagesection .button:hover, .pagesection .button:focus {
	background: var(--button-bg-hover);
	color: var(--button-txt-color-hover);
	box-shadow: 0px -5px 10px 2px rgba(255, 255, 255, 0.1) inset;
	border-radius: 5px;
	border-color: var(--header-bg);
}

/* New Button */
.new_posts,
a.new_posts {
	background: var(--newbutton-bg);
	border-width: 0;
	border-radius: 3px;
	color: var(--newbutton-txt-color);
	text-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
	font-family: 'Lato';
	font-weight: 700;
}

/* Header */
header {
	background: var(--header-bg);
	border-style: solid;
	border-width: 0 0 1px;
	border-color: hsl(var(--primary-color-hue), 45%, 85%);
}
#header {
	display: flex;
	padding: 0;
	min-height: 100px;
}
header h1.forumtitle {
	align-self: center;
	padding: 8px 0;
	flex-basis: 100%;
	font-size: 3.8em;
	font-family: 'Noto Sans', 'Helvetica', 'Arial';
	text-transform: uppercase;
}
header h1.forumtitle a {
	text-decoration: none;
	display: inline-block;
}
header h1.forumtitle span.theme-logo {
	display: flex;
	gap: 0;
	align-items: center;
}
header h1.forumtitle a,
header h1.forumtitle a span.theme-logo span,
header h1.forumtitle a span.theme-logo span::before {
	transition: background-color 0.2s ease-in-out, color 0.5s ease, border-color 0.2s ease-in-out;
}
header h1.forumtitle span.theme-logo span:first-child {
	font-weight: 700;
	background-color: var(--catbg-bg);
	text-shadow: none;
	letter-spacing: -0.05em;
	padding: 0px 0 1px 1px;
	line-height: 1em;
	text-shadow: 0 2px rgba(0, 0, 0, 0.2);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
header h1.forumtitle a span:first-child {
	color: var(--header-bg);
}
header h1.forumtitle a span:last-child {
	color: hsl(var(--primary-color-hue), 25%, 75%);
}
header h1.forumtitle span.theme-logo span:last-child{
	line-height: 0.7em;
	align-self: flex-start;
	font-size: 6.5rem;
	background-color: transparent;
	position: relative;
	top: -4px;
	text-shadow: 3px 1px rgba(0, 0, 0, 0.2);
}
header h1.forumtitle span.theme-logo span:last-child::before {
	position: absolute;
	content: '';
	border-style: solid;
	border-width: 31px 0 31px 23px;
	top: 9px;
	border-color: transparent transparent transparent var(--catbg-bg);
	background-color: transparent !important;
	left: 0;
}
header h1.forumtitle a:hover span.theme-logo span:first-child,
header h1.forumtitle a:hover span.theme-logo span:last-child::before {
	background-color: hsl(0, 0%, 30%);
	border-color: transparent transparent transparent hsl(0, 0%, 30%);
}
header h1.forumtitle a:hover span.theme-logo span:first-child,
header h1.forumtitle a:hover span.theme-logo span:last-child {
	color: var(--catbg-bg);
}

/* Socials */
.social_icons {
	display: flex;
	justify-content: flex-end;
	gap: 8px;
	flex-grow: 1;
}
.social_icons a {
	font-size: 0.9em;
	--social-icon-light: 58%;
	width: 25px;
	padding: 3px 0;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	text-decoration: none;
}
.social_icons a:hover {
	--social-icon-light: 40%
}
.social_icons a.facebook {
	background-color: hsl(214, 89%, var(--social-icon-light));
}
.social_icons a.twitter {
	background-color: hsl(203, 89%, var(--social-icon-light));
}
.social_icons a.instagram {
	background-color: hsl(340, 75%, var(--social-icon-light));
}
.social_icons a.youtube {
	background-color: hsl(0, 100%, var(--social-icon-light));
}
.social_icons a.twitch {
	background-color: hsl(264, 100%, var(--social-icon-light));
}
.social_icons a.discord {
	background-color: hsl(227, 58%, var(--social-icon-light));
}
.social_icons a i {
	color: hsl(0, 0%, 100%)
}

/* Menu Nav */
#main_menu {
	margin: 0;
	width: 100%;
}
#nav_wrapper {
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
	min-height: 45px;
	display: flex;
	align-items: center;
}
nav#main_nav {
	background: var(--nav-bg);
	margin: 0 0 25px;
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
}
nav#main_nav ul.menu_nav {
	display: flex;
	min-height: 60px;
	margin: 0;
	padding: 0;
	list-style: none;
	gap: 5px;
	flex-wrap: wrap;
}
nav#main_nav ul.menu_nav li {
	float: none;
	margin: 0;
	display: flex;
	position: relative;
	min-height: inherit;
}
nav#main_nav ul.menu_nav li a {
	min-height: 40px;
	margin: auto 0;
	padding: 0 10px;
	display: flex;
	align-items: center;
	background: var(--nav-item-bg);
	border: none;
	color: var(--nav-item-txt-color);
	border-radius: 3px;
	text-shadow: none;
	box-shadow: none;
	font-weight: normal;
	display: flex;
	gap: 5px;
}
nav#main_nav ul.menu_nav li a:hover {
	color: var(--nav-item-txt-color-hover);
	background: var(--nav-item-bg-hover);
}
nav#main_nav ul.menu_nav li a.active {
	color: var(--nav-item-txt-color-active);
	background: var(--nav-item-bg-active);
}
nav#main_nav ul.menu_nav li a span.amt {
	background-color: var(--nav-item-bg-active);
	font-size: 0.75em;
	display: inline-block;
	border-radius: 4px;
	padding: 0 8px;
}
nav#main_nav ul.menu_nav li a.active span.amt {
	background-color: hsl(var(--primary-color-hue), 50%, 25%);
	font-size: 0.8em;
	display: inline-block;
	border-radius: 5px;
}
nav#main_nav ul.menu_nav ul {
	top: 60px;
	background: var(--nav-dropdown-bg);
	border: 1px solid hsl(0, 0%, 90%);
	border-radius: 5px;
	box-shadow: none;
	min-width: 15em;
}
nav#main_nav ul.menu_nav ul li {
	display: block;
	background: transparent;
	border: none;
	width: 15em;
}
nav#main_nav ul.menu_nav ul li a {
	background: var(--nav-dropdown-item-bg);
	color: var(--nav-dropdown-item-txt-color);
	font-weight: normal;
}
nav#main_nav ul.menu_nav ul li a:hover {
	border-radius: 3px;
	background: var(--nav-dropdown-item-bg-hover);
	color: var(--nav-dropdown-item-txt-color-hover);
}
nav#main_nav ul.menu_nav ul li a span.amt {
	background-color: var(--nav-dropdown-item-bg-hover);
	color: var(--nav-dropdown-item-txt-color-hover);
	font-size: 0.9em;
	display: inline-block;
	border-radius: 5px;
	padding: 0 8px;
	font-weight: bold;
}
nav#main_nav ul.menu_nav ul li a:hover span.amt {
	background-color: hsl(var(--primary-color-hue), 50%, 25%);
}

/* Dropmenu */
.dropmenu {
	display: flex;
	gap: 3px;
}
.dropmenu li {
	margin: 0;
}
.dropmenu li a {
	text-shadow: none;
	color: var(--titlebg-txt-color);
	border-radius: 3px;
	border-width: 0;
}
.dropmenu li a.active,
.dropmenu li a.active:hover,
.dropmenu li:hover a.active {
	color: var(--buttonlist-txt-color-active);
	background: var(--titlebg-bg);
	border: 1px solid hsl(var(--primary-color-hue), 15%, 85%);
	box-shadow: 1px -1px 0px 0px rgba(0,0,0,.1) inset, 0px 1px rgba(255,255,255,0.7) inset;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.4);
}
.dropmenu li a:hover,
.dropmenu li:hover a {
	color: var(--nav-dropdown-item-txt-color);
	background: transparent;
	text-shadow: none;
	border-width: 0;
}
.dropmenu ul {
	display: block;
}
.dropmenu li li ul,
.dropmenu li li:hover ul{
	margin-top: -1.8em;
}
.dropmenu li ul li a,
.dropmenu li li a, .dropmenu li:hover li a {
	background: var(--nav-dropdown-item-bg);
	color: var(--nav-dropdown-item-txt-color);
}
.dropmenu ul li a img,
.dropmenu ul li a span.main_icons {
	filter: grayscale(100%);
	opacity: 0.85;
	transition:  filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.dropmenu ul li a:hover img,
.dropmenu ul li a:hover span.main_icons {
	filter: grayscale(10%);
	opacity: 0.95;
}
.dropmenu li ul li a:hover,
.dropmenu li ul li a.active,
.dropmenu li ul li a.active:hover,
.dropmenu li ul li:hover > a,
#top_info a.active, .dropmenu a.active {
	background: var(--nav-dropdown-item-bg-hover);
	color: var(--nav-dropdown-item-txt-color-hover);
	border-width: 0;
}

/* Content Section */
#wrapper {
	border-radius: 10px;
	background: transparent;
	border: none;
}
#upper_section {
	border-radius: 10px 10px 0 0;
	background-color: hsl(0, 0%, 90%);
	padding: 0;
}
#inner_section {
	border-radius: 10px 10px 0 0;
	padding: 10px 25px 3px;
}
#inner_section, #top_section, .inline_mod_check, .popup_window,
.post_options ul, .post_options ul a:focus, .post_options ul a:hover {
	background: linear-gradient(hsl(var(--primary-color-hue), 20%, 90%) 0,hsl(0, 0%, 99%) 70%);
}
#content_section {
	background-color: hsl(0, 0%, 100%);
	border-radius: 0 0 10px 10px;
	padding: 0 15px 10px;
}
.smalltext, tr.smalltext th {
	font-size: 0.8em;
}
/* Containers */
.main_container {
	margin-bottom: 1em;
}
table.table_grid {
	margin: 0;
}
.navigate_section ul, .popup_content, .up_contain,
.roundframe, .windowbg, .information,
.windowbg:nth-of-type(2n+1), .windowbg:nth-of-type(2n),
.bg.even, .bg.odd, tr {
	background: var(--windowbg-bg);
}
.generic_list_wrapper {
	background: var(--header-bg);
}
tr.windowbg:hover, tr.bg:hover,
tr:hover {
	background: var(--header-bg);
}
.information, tr.windowbg, tr.bg, tr {
	border-width: 0 1px 1px;
	border-color: var(--catbg-bg);
	border-style: solid;
}
#messageindex .information {
	margin: 0 0 5px;
}
tr.windowbg, tr.bg, tr {
	border-bottom-color: hsl(var(--primary-color-hue), 25%, 90%);
}
.action_admin .table_grid td {
	border: revert !important;
}
tr.windowbg:last-child,
tr.bg:last-child,
tr:last-child {
	border-bottom-color: var(--catbg-bg);
}
.navigate_section ul, .popup_content, .up_contain {
	margin: 0;
}
.roundframe {
	padding: 8px 10px;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1) inset, 0px -1px 1px 0px rgba(0, 0, 0, 0.1) inset;
	border-color: var(--catbg-bg);
	border-width: 0 2px;
	border-radius: 4px 4px;
}
.approvebg, .approvebg2, .generic_list_wrapper, .windowbg {
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1) inset, 0px -1px 1px 0px rgba(0, 0, 0, 0.1) inset;
	border-radius: 4px;
	border-width: 0 1px;
	border-color: var(--catbg-bg);
	margin: 7px 0 0;
}
#admin_content .windowbg {
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1) inset, 0px -1px 1px 0px rgba(0, 0, 0, 0.1) inset !important;
	margin: 0 0 2px !important;
}
#admin_content .admin_group {
	margin-top: 10px !important;
}
/* Cat Bar */
div.cat_bar,
.cat_bar {
	background: var(--catbg-bg);
	display: flex;
	min-height: 40px;
	align-items: center;
	border-radius: 4px;
	box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.1) inset;
	margin: 1px 0 0;
	border-width: 0;
	color: var(--catbg-txt-color);
}
.catbg {
	width: 100%;
}
h3.catbg, h3.catbg a,
h3.catbg a:hover, .cat_bar a {
	font-size: 1em;
	text-shadow: 0px -1px 1px rgba(0,0,0,0.3);
	font-weight: normal;
	color: var(--catbg-txt-color);
}
.cat_bar h3 {
	padding: 0 12px;
}
/* Title Bar */
div.title_bar,
.title_bar {
	background: var(--titlebg-bg);
	display: flex;
	min-height: 40px;
	align-items: center;
	border-radius: 0;
	border-color: var(--catbg-bg);
	margin: 1px 0 0;
	border-width: 0 3px;
	color: var(--titlebg-txt-color);
}
.titlebg {
	width: 100%;
}
.subbg, .titlebg, h3.subbg, h3.titlebg, h4.subbg, h4.titlebg,
.titlebg a, .subbg a, .title_bar a {
	font-size: 0.9em;
	text-shadow: 0px -1px 1px rgba(255,255,255,0.3);
	font-weight: bold;
	color: var(--titlebg-txt-color);
}
.title_bar h3 {
	padding: 0 12px;
}
/* Heading */
.popup_heading {
	color: var(--titlebg-txt-color);
}
/* Table Row */
tr.cat_bar,
tr.title_bar {
	display: table-row;
	height: 40px;
}
/* Toggle */
.toggle_down::before, .toggle_up::before {
	background-image: none;
	background-color: transparent;
	display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free";
	box-shadow: none;
	margin: 0;
	border: none;
	width: auto;
	height: auto;
	font-weight: 900;
	font-size: 0.8em;
}
.toggle_down:hover::before, .toggle_up:hover::before {
	background: none;
	box-shadow: none;
}
.toggle_up::before {
	content: "\f139";
}
.toggle_down::before {
	content: "\f13a";
}
/* BoardIndex */
.boardindex_table div.desc {
	padding: 3px 8px;
	background-color: hsl(var(--primary-color-hue), 35%, 90%);
	margin: -1px 0 2px;
	border-radius: 3px;
	font-size: 0.9em;
}
.boardindex_table .up_contain,
#topic_container .up_contain {
	border-width: 0 1px 1px;
	border-color: hsl(0, 0%, 90%);
	box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.15);
	min-height: 60px;
}
.boardindex_table .up_contain:first-child,
#topic_container .up_contain:first-child {
	border-radius: 5px 5px 0 0;
}
.boardindex_table .up_contain:last-child,
#topic_container .up_contain:last-child {
	border-radius: 0 0 5px 5px;
}
.boardindex_table .info {
	padding: 5px 0;
	flex-grow: 0;
}
.boardindex_table .board_stats {
	padding: 0 5px 0 0;
	width: 10%;
}
.boardindex_table .board_icon {
	width: 64px;
}
.boardindex_table .board_stats p {
	border: none;
}
.boardindex_table .children {
	background-color: hsl(var(--primary-color-hue), 25%, 92%);
}
.boardindex_table .board_stats {
	text-align: right;
	font-size: 0.68em;
	margin: 0;
}
p.moderators {
	font-size: 0.8em;
	padding: 2px 5px;
	background-color: hsl(var(--primary-color-hue), 10%, 90%);
	display: inline-block;
	border-radius: 3px;
	margin-top: 2px;
}
.boardindex_table .board_stats strong {
	font-size: initial;
}
.boardindex_table .board_description {
	font-size: 0.95em;
}
.boardindex_table .lastpost {
	width: 35%;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 5px 10px;
}
.boardindex_table .lastpost p {
	width: calc(100% - 48px);
}
.boardindex_table .lastpost p span {
	display: block;
}
.boardindex_table .lastpost a.avatar,
.boardindex_table .lastpost img.avatar_dot {
	display: flex;
	align-items: flex-end;
}
.avatar_dot {
	border-radius: 50%;
	width: 48px;
	height: 48px;
}
.board_icon a {
	background-image: none;
	display: inline;
	color: hsl(var(--primary-color-hue), 15%, 35%);
}
.board_icon a::before {
	display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free";
	font-weight: 400;
	font-size: 1.8em;
	content: "\f086";
}
.board_icon a.board_on::before {
	font-weight: 900;
}
.board_icon a.board_redirect::before {
	font-weight: 900;
	content: "\f0c1";
}
.info .subject {
	font-size: 1.08em;
	font-weight: normal;
	color: var(--body-link-color);
}
p.moderators > :is(a, a:visited, a:hover) {
    font-weight: normal;
}
.mark_read {
	float: none !important;
	min-height: 35px;
	margin: -5px 0 15px;
}
/* MessageIndex */
#topic_header {
	border-radius: 4px;
}
#topic_header .board_stats,
#topic_container .board_stats {
	text-align: right;
	margin-right: 15px;
}
#topic_container .board_stats p strong {
	font-size: initial;
}
#topic_container .board_stats p {
	font-size: 0.68em;
}
#topic_container .lastpost {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 5px 10px;
}
#topic_container .lastpost a.avatar,
#topic_container .lastpost img.avatar_dot {
	display: flex;
	align-items: flex-end;
}
#topic_container .lastpost img.avatar_dot {
	width: 40px;
	height: 40px;
}
#topic_container .lastpost,
#topic_header .lastpost {
	width: 22%;
}
#topic_container .up_contain {
	min-height: 30px;
}
#topic_container .up_contain:first-child {
	border-radius: 0;
}
#topic_container .info p {
	font-size: 0.9em;
}
/* Topic Status */
#topic_container .windowbg.sticky {
	background: var(--status-sticky-bg);
	margin: 0 1px;
}
#topic_container .windowbg.locked {
	background: var(--status-locked-bg);
}
#topic_container .windowbg.approvepost {
	background: var(--status-approve-bg);
}
#topic_container .windowbg.approvetopic {
	background: var(--status-approvet-bg);
}
/* Buttonlist */
.buttonlist, .buttonrow, .pagelinks {
	margin: 3px 0;
	padding: 0;
	z-index: unset;
}
.pagesection,
#main_content_section .pagesection {
	display: flex;
	flex-direction: row;
	margin: 0;
	align-items: center;
	margin: 0 8px;
}
.pagesection > div {
	display: flex;
	flex-basis: 0;
	flex-grow: 1;
}
.pagesection > div.mobile_buttons {
	display: none;
}
.pagesection > div,
.pagesection > div.floatleft {
	justify-content: flex-start;
}
.pagesection > div.floatright {
	justify-content: flex-end;
}
.pagesection div.pagelinks {
	align-items: center;
}
.buttonlist.floatright {
	order: 2;
}
.buttonlist {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}
.buttonlist a,
.buttonlist a.button {
	position: relative;
	display: flex;
	gap: 5px;
	align-items: center;
	background-image: none;
	background-color: var(--buttonlist-bg);
	color: var(--buttonlist-txt-color);
	border-radius: 4px;
	border: 1px solid hsl(var(--primary-color-hue), 15%, 85%);
	box-shadow: 1px -1px 0px 0px rgba(0,0,0,.1) inset, 0px 1px rgba(255,255,255,0.7) inset;
	padding: 0 12px;
	margin: 2px 0;
	height: auto;
	min-height: 30px;
	line-height: 30px;
	text-transform: none;
	font-size: 0.8em;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.4);
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.buttonlist a:hover, .buttonlist a:focus,
.buttonlist a.button:hover, .buttonlist a.button:focus {
	background-image: none;
	background-color: var(--buttonlist-bg-hover);
	color: var(--buttonlist-txt-color-hover);
	box-shadow: 1px -1px 0px 0px rgba(0,0,0,.1) inset, 0px 1px rgba(255,255,255,0.7) inset;
	border-color: hsl(var(--primary-color-hue), 15%, 80%);
}
.buttonlist a.active,
.buttonlist a.button.active {
	background-image: none;
	background-color: var(--buttonlist-bg-active);
	font-weight: normal;
	color: var(--buttonlist-txt-color-active);
	text-shadow: 0px 1px 0px rgba(255,255,255,0.3);
	border-color: hsl(var(--primary-color-hue), 15%, 80%);
}
.buttonlist a.active:hover,
.buttonlist a.button.active:hover {
	border-color: hsl(var(--primary-color-hue), 30%, 75%);
}
.buttonlist a > span.amt {
	position: absolute;
	right: -5px;
	top: -5px;
	font-size: 0.7em;
	width: 15px;
	display: flex;
	flex: 1;
	height: 15px;
	justify-content: center;
	align-items: center;
}
.buttonlist_sub::after {
	content: "\f0dd";
	background-image: none;
	background-color: transparent;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free";
	box-shadow: none;
	margin: 0;
	border: none;
	width: auto;
	height: auto;
	font-weight: 900;
	font-size: 1.1em;
	top: -2px;
	left: 3px;
	position: relative;
}
.buttonlist a i {
	font-size: 0.8em;
	opacity: 0.8;
}
.buttonlist > .top_menu.dropmenu {
	display: none;
	right: auto !important;
	left: auto !important;
	max-width: 16em;
	min-width: 14em;
	margin-top: 5px;
	height: auto !important;
}
.buttonlist > .top_menu.dropmenu.notify_dropdown a {
	min-height: 60px;
}
.buttonlist > .top_menu.dropmenu a {
	/* background: none; */
	box-shadow: none;
	border: none;
	border-radius: 3px;
	line-height: 0.7em;
	padding: 12px 8px;
	text-shadow: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 2px;
}
.buttonlist > .top_menu.dropmenu a.active {
	background: var(--catbg-bg);
}
.buttonlist > .top_menu.dropmenu a.active,
.buttonlist > .top_menu.dropmenu a.active strong {
	color: hsl(0, 0%, 100%);
}
.buttonlist > .top_menu.dropmenu a strong {
	display: block;
	margin: 0;
	font-size: 1.15em;
	font-weight: normal;
}
.buttonlist > .top_menu.dropmenu a span {
	margin: 5px 0 1px;
	font-size: 0.8em;
}
/* Search */
.custom_search {
	background-color: var(--nav-bg);
	padding: 5px 10px;
	display: flex;
	align-self: flex-end;
	justify-content: center;
	align-items: center;
	border-width: 1px 1px 0;
	border-color: hsl(var(--primary-color-hue), 45%, 85%);
	border-style: solid;
	border-radius: 5px 5px  0 0;
	position: relative;
	top: 1px;
}
.custom_search select,
.custom_search input, .custom_search input.button,
.custom_search button {
	margin: 0 !important;
	height: 2.5em;
	font-size: 0.7em;
	background: hsl(0, 0%, 99%);
	box-shadow: none;
	padding: 1px 0;
	border-radius: 8px;
	border-color: hsl(var(--primary-color-hue), 25%, 75%);
}
.custom_search select{
	border-left: none;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	background: hsl(0, 0%, 97%);
}
.custom_search input[name="search"] {
	border-right: none;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	padding: 1px 8px;
	width: 6em;
	transition: width 0.5s ease-in-out;
}
.custom_search input[name="search"]:focus {
	width: 18em;
}
.custom_search button {
	border-width: 1px 0;
	border-radius: 0;
	padding: 1px 10px;
}
.custom_search button:hover {
	cursor: pointer;
}
/* Color Variants */
.st_styleswitcher {
	align-self: flex-end;
	background-color: hsl(0, 0%, 93%);
	padding: 3px 7px;
	min-height: 20px;
	display: flex;
	justify-content: center;
	gap: 5px;
	border-width: 1px 1px 0;
	border-color: hsl(var(--primary-color-hue), 45%, 85%);
	border-style: solid;
	border-radius: 5px 5px  0 0;
	position: relative;
	top: 1px;
}
.st_styleswitcher button {
	--color-variant-hue:  200;
	--color-variant-sat:  25%;
	--color-variant-lig:  45%;
	color: transparent;
	width: 20px;
	height: 20px;
	background-color: hsl(var(--color-variant-hue), var(--color-variant-sat), var(--color-variant-lig));
	border: none;
	border-radius: 4px;
}
.st_styleswitcher button:hover {
	cursor: pointer;
}
.st_styleswitcher button[data-color="red"] {
	--color-variant-hue:  360;
	--color-variant-sat:  40%;
}
.st_styleswitcher button[data-color="green"] {
	--color-variant-hue:  105;
}
.st_styleswitcher button[data-color="blue"] {
	--color-variant-hue:  205;
	--color-variant-sat:  40%;
}

/* Footer */
footer {
	margin: 25px 0 0;
	padding: 15px 0;
	background: var(--footer-bg);
	box-shadow: 0px -5px 8px -5px rgba(0,0,0,0.1);
}
footer .inner_wrap {
	margin: 0 auto;
}
footer .footer_links {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}
footer ul.copyright {
	list-style: none;
	width: 50%;
}
footer ul.copyright li {
	margin: 5px 0;
}
footer div.footer-other {
	flex-grow: 1;
	display: flex;
	gap: 5px;
	flex-direction: column;
	align-items: flex-end;
	text-align: right;
}
footer .inner_wrap p {
	text-align: center;
	font-size: 0.7em;
	margin: 10px 0 0;
}
footer .footer-other span.help-links {
	display: flex;
	gap: 3px;
	font-size: 0.9em;
}
footer .footer-other span.help-links a:not(:last-child)::after {
	content: " | ";
}
footer .footer-other span.help-links a i.fa {
	font-size: 0.8em;
}

/* News Slider */
.forum_news {
	background-color: hsl(var(--primary-color-hue), 25%, 95%);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border-radius: 5px;
	margin: 0 0 1em;
	border-style: solid;
	border-width: 0 0 0 3px;
	border-color: var(--catbg-bg);
	box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
}
.forum_news span.news_icon {
	background-color: hsl(var(--primary-color-hue), 20%, 90%);
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.3em;
	border-radius: 0 0 10px 0;
}
.forum_news h2 {
	width: auto;
	margin: 0 10px;
	border-bottom: 2px solid var(--catbg-bg);
	line-height: 2.2em;
	font-size: 0.85em;
}
.forum_news .sy-box {
	width: 100%;
	display: flex;
	margin: 0;
	padding: 1px 10px 2px;
	min-height: 35px;
	align-items: center;
	font-size: 0.9em;
}
.forum_news #smf_slider,
.forum_news #smf_slider li {
	margin: 0;
	padding: 0;
}
.forum_news .sy-box .sy-slides-wrap {
	flex-grow: 1;
}
.forum_news .sy-box .sy-pager {
	margin: 0;
	text-align: right;
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 3px;
}
.forum_news .sy-box .sy-pager li {
	width: 0.7em;
	height: 0.7em;
	margin: 0;
}
.forum_news .sy-box .sy-pager li.sy-active a {
	background-color: var(--catbg-bg);
	opacity: 1;
}
.forum_news .sy-box .sy-pager a {
	color: transparent;
	font-size: 0;
}

/* Info Center */
.sub_bar {
	border-color: var(--catbg-bg);
}
#info_center_blocks {
	display: flex;
	padding: 0;
}
#info_center_blocks ul {
	padding: 0;
	flex-direction: column;
	margin: 15px 0;
	flex-basis: 60px;
}
#info_center_blocks div {
	flex-basis: 100%;
}
#info_center_blocks .ui-tabs-nav li {
	border-radius: 0;
	text-align: center;
}
#info_center_blocks .ui-tabs-nav li.title_bar.ui-tabs-active {
	background: var(--titlebg-bg-right);
}
#info_center_blocks .ui-tabs-nav li:first-child {
	border-top-left-radius: 4px;
}
#info_center_blocks .ui-tabs-nav li:last-child {
	border-bottom-left-radius: 4px;
}
#info_center_blocks ul li.ui-tabs-active {
	border-width: 0 0 0 3px;
}
#info_center_blocks ul li:not(.ui-tabs-active) a {
	font-weight: normal;
	color: hsl(0, 0%, 35%);
}
#info_center_blocks > div {
	border-radius: 4px;
	box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
	margin: 0 !important;
	padding: 0.5em 1em;
}
#info_center_blocks #block-forum_stats {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 5px;
}
#info_center_blocks #block-forum_stats div:not(.sub_bar) {
	display: flex;
	align-items: center;
	flex-basis: 45%;
}
#info_center_blocks #block-forum_stats div:not(.sub_bar) > * {
	display: flex;
	justify-content: center;
	display: flex;
	align-items: center;
	height: 40px;
}
#info_center_blocks #block-forum_stats div span.title {
	flex-basis: 60%;
	min-width: 50px;
	font-size: 0.75em;
	color: hsl(0, 0%, 92%);
	text-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	background: var(--catbg-bg);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: -2px 0px 1px 0px rgba(0, 0, 0, 0.1);
}
#info_center_blocks #block-forum_stats div span.title i {
	margin-right: 5px;
}
#info_center_blocks #block-forum_stats div span.totals  {
	width: 100%;
	background: var(--header-bg);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 0;
	font-size: 0.8em;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1) inset;
}
#info_center_blocks #block-forum_stats div span.totals,
#info_center_blocks #block-forum_stats div span.totals a {
	color:hsl(0, 0%, 25%)
}
#info_center_blocks #block-forum_stats div span.totals a:hover {
	text-decoration: none;
}
#info_center_blocks #block-forum_stats > span {
	align-self: center;
}
#info_center_blocks ul li a span {
	display: none;
}
#info_center_blocks div p.inline {
	padding: 0;
	margin: 0;
}
#info_center_blocks #ic_recentposts {
	margin: 0;
}

/* Profile */
#basicinfo > * {
	margin: 0;
}
#detailedinfo dl, #tracking dl {
	border-width: 0;
}
.clear_right {
	display: none;
}

/* Top Bar */
#top_section {
	min-height: 45px;
}
#top_info {
	display: flex;
	padding: 0;
	height: 44px;
	align-items: center;
	gap:  2px;
}
#top_info > li {
	display: flex;
	margin: 0;
}
#top_info > li > a {
	font-size: 1.2em;
}
#top_info > li > a,
#top_info > li > a.open,
#top_info > li > a:focus,
#top_info > li:hover > a {
	border: none;
	color: var(--nav-item-txt-color);
	width: 45px;
	height: 45px;
	text-align: center;
	background: var(--nav-item-bg);
	padding: 0 5px;
	box-shadow: none;
	text-shadow: none !important;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0;
	position: relative;
}
#top_info > li > a:hover {
	box-shadow: none;
	border: none;
	color: var(--nav-item-txt-color-hover);
	background: var(--nav-item-bg-hover);
}
#top_info > li > a.active,
#top_info > li > a.active:focus,
#top_info > li > a.active.open {
	color: var(--nav-item-txt-color-active);
	background: var(--nav-item-bg-active);
}
#profile_menu_top img.avatar {
	width: 28px;
	height: 28px;
	float: none;
	margin: 0;
	border-radius: 50%;
	vertical-align: middle;
}
#top_info > li#user_colorpicker {
	flex-grow: 1;
	justify-content: flex-end;
	position: relative;
}
li#user_colorpicker > ul#colorpicker_menu {
	width: 10em;
	min-width: 10em;
	display: none;
}
li#user_colorpicker > ul#colorpicker_menu li {
	display: block;
}
#top_info > li#user_colorpicker > a:first-child {
	color: var(--catbg-bg);

}
#top_info > li > a > span.amt,
ul.quickbuttons li span.amt a {
	position: absolute;
	padding: 0;
	top: 2px;
	right: 0;
	height: 18px;
	width: 18px;
	border-radius: 13px;
	font-size: 0.6em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--nav-item-bg-active);
}

/* User Area bits */
.top_menu,
.dropmenu li ul {
	background: var(--nav-dropdown-bg);
	border: 1px solid hsl(0, 0%, 90%);
	border-radius: 5px;
	box-shadow: none;
}
#profile_menu_top::after {
	content: "";
}
#profile_menu.top_menu {
	width: 18em;
	min-width: 18em;
}
#profile_menu.top_menu.visible {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	align-items: center;
}
#profile_menu div {
	float: none !important;
	margin: 0;
	flex-basis: 0;
}
#profile_menu div.profile_user_info {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
#profile_menu div.profile_user_links{
	flex-basis: 100%;
	margin: -5px 0 0;
	border-top: 1px solid hsl(0, 0%, 90%);
	padding-top: 5px;
}
#profile_menu div.unread_buttons ol li,
#profile_menu div.unread_buttons ol li a{
	font-size: 0.95em;
}
#languages_form {
	flex-basis: 100%;
	margin: -10px 0 0;
	padding: 0;
}
.profile_username {
	line-height: 0.8em;
}
.profile_username span {
	font-size: 0.55em !important;
}
.profile_username a {
	font-size: 0.7em;
}
.profile_group {
	font-size: 0.85em;
	line-height: 1.6em;
}
.profile_user_avatar img.avatar {
	border-radius: 50%;
	width: 80px;
	height: 80px;
}
.profile_user_links ol {
	column-count: 1;
	margin: 0;
}
.profile_user_links li {
	padding: 0;
}
.profile_user_links li a {
	background: var(--nav-dropdown-item-bg);
	color: var(--nav-dropdown-item-txt-color);
	min-height: 30px;
	display: flex;
	align-items: center;
	text-indent: initial;
	padding: 0 10px;
	font-size: 0.85em;
	gap: 5px;
}
.profile_user_links ol li a i {
	width: 18px;
}
.profile_user_links ol li span {
	font-size: 1em;
}
.profile_user_links ol li a:hover {
	border-radius: 3px;
	background: var(--nav-dropdown-item-bg-hover);
}
.profile_user_links ol li a:hover,
.profile_user_links ol li:hover {
	color: var(--nav-dropdown-item-txt-color-hover);
	text-decoration: none;
}

/* Stats */
.generic_bar, .progress_bar {
	border-radius: 0;
	border-color: var(--catbg-bg);
	border-width: 0 0 1px;
}
.generic_bar .bar, .progress_bar .bar {
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1) inset, 0px -1px 1px 0px rgba(0, 0, 0, 0.1) inset;;
	background: var(--header-bg);
	border-radius: 0;
}
.generic_bar span, .progress_bar span {
	color: hsl(var(--primary-color-hue), 25%, 35%);
	text-shadow: none;
	font-size: 0.75em;
}

/* Like me */
.under_message ul:not(.quickbuttons) li.smflikebutton,
.under_message ul:not(.quickbuttons) li.like_count {
	display: none;
}

/* Display */
.post_wrapper .postarea {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
.post_wrapper .postarea .post,
.post_wrapper .postarea .keyinfo,
.post_wrapper .postarea .under_message {
	flex-grow: 1;
	flex-basis: 0;
	margin: 0;
	padding: 0;
	align-self: center;
}
.post_wrapper .postarea .post {
	order: 	2;
	flex-grow: 1;
	flex-basis: 100%;
}
.page_number.floatright {
	float: left;
	margin: 3px 5px 0 0;
	color: var(--titlebg-txt-color);
}

.quickbuttons {
	display: flex;
	gap: 7px;
}
.quickbuttons li,
.quickbuttons li:hover {
	background: none;
	position: relative;
}
.quickbuttons li a,
.quickbuttons li:hover a {
	box-shadow: none;
	border-width: 0;
}
.quickbuttons li a,
.quickbuttons li a:hover {
	display: flex;
	align-items: center;
	gap: 3px;
	color: var(--body-link-color);
}
.quickbuttons a span {
	color: var(--titlebg-txt-color);
	font-size: 1.2em;
}
ul.quickbuttons li span.amt {
	margin: 0;
	background: none;
	padding: 0;
}
ul.quickbuttons li span.amt a {
	left: -1em;
	top: -1em;
	color: #fff;
	text-decoration: none;
}
.keyinfo h5 a, .keyinfo h5 a strong {
	color: var(--body-link-color);
}

/* Styles for Errors and messages */
.errorbox, .noticebox, .infobox {
	border-width: 1px 2px;
}


/* Admin stuff */
fieldset.admin_group legend {
	background: var(--header-bg) !important;
	color: var(--titlebg-txt-color);
	font-weight: normal;
}
.admin_search {
	text-align: right;
}
#admin_content .cat_bar > form {
    flex-grow: 1;
}
#admin_content .cat_bar > form .catbg {
	line-height: 1.7em;
}
fieldset.admin_group a {
	font-size: 0.75em !important;
}

/* Settings Tabs */
/* #st_settings_tabs {

} */
.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}
.ui-tabs .ui-tabs-nav {
	margin: 0 5px;
	padding: .2em .2em 0;
	display: flex;
	gap: 0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	position: relative;
	top: 0;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	border-width: 0;
	min-height: 40px;
}
.ui-tabs .ui-tabs-nav li:first-child {
	border-top-left-radius: 4px;
}
.ui-tabs .ui-tabs-nav li:last-child {
	border-top-right-radius: 4px;
}
.ui-tabs .ui-tabs-nav li:not(.ui-tabs-active) {
	background: hsl(0, 0%, 98%);
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
	border-width: 3px 0 0;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	cursor: text;
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
}