/* Main Stuff */
html {
	background-image: none;
	background-color: transparent;
}
body {
	background: var(--body-bg);
	font-family: 'Segoe UI', 'Helvetica', 'Arial';
	color: var(--body-txt-color);
}

/* Header */
header {
	background: var(--header-bg);
}

/* Menu Nav */
#nav_wrapper {
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
nav#main_menu {
	background: var(--nav-bg);
}
nav#main_menu ul.menu_nav {
	display: flex;
	min-height: 80px;
	margin: 0;
	padding: 0;
	list-style: none;
	gap: 5px;
	flex-wrap: wrap;
}
nav#main_menu ul.menu_nav li {
	float: none;
	margin: 0;
	display: flex;
}
nav#main_menu ul.menu_nav li a {
	min-height: 45px;
	margin: auto 0;
	padding: 0 10px;
	display: flex;
	align-items: center;
	background: var(--nav-item-bg);
	border: none;
	color: var(--nav-item-txt-color);
	border-radius: 3px;
	text-shadow: none;
	box-shadow: none;
}
nav#main_menu ul.menu_nav li a:hover {
	color: var(--nav-item-txt-color-hover);
	background: var(--nav-item-bg-hover);
}

nav#main_menu ul.menu_nav li a.active {
	color: var(--nav-item-txt-color-active);
	background: var(--nav-item-bg-active);
}
nav#main_menu ul.menu_nav ul {
	top: 80px;
	background: var(--nav-dropdown-bg);
	border: none;
	box-shadow: none;
}
nav#main_menu ul.menu_nav ul li {
	display: block;
	background: transparent;
	border: none;
}
nav#main_menu ul.menu_nav ul li a {
	background: var(--nav-dropdown-item-bg);
	color: var(--nav-dropdown-item-txt-color);
}
nav#main_menu ul.menu_nav ul li a:hover {
	border-radius: 3px;
	background: var(--nav-dropdown-item-bg-hover);
	color: var(--nav-dropdown-item-txt-color-hover);
}

.cat_bar {
	background: #557ea0;
	border-bottom: 1px solid #777;
	padding: 0;
	border-radius: 6px 6px 0 0;
	box-shadow: 0 16px 20px rgba(255,255,255,.15) inset;
	text-shadow: -1px -1px 1px rgba(0,0,0,.2);
}




/* Settings Tabs */
#st_settings_tabs {

}


.ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
	cursor: text;
}
.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}