@font-face {
	font-family: "Lato";
	src:
		url("../fonts/Lato-Regular.ttf") format("truetype"),
		url("../fonts/Lato-Thin.ttf") format("truetype"),
		url("../fonts/Lato-Bold.ttf") format("truetype"),
		url("../fonts/Lato-Black.ttf") format("truetype"),
		url("../fonts/Lato-Light.ttf") format("truetype"),
		url("../fonts/Lato-Italic.ttf") format("truetype"),
		url("../fonts/Lato-ThinItalic.ttf") format("truetype"),
		url("../fonts/Lato-BoldItalic.ttf") format("truetype"),
		url("../fonts/Lato-BlackItalic.ttf") format("truetype"),
		url("../fonts/Lato-LightItalic.ttf") format("truetype");
}

@font-face {
	font-family: "Noto Sans";
	src:
		url("../fonts/NotoSans-Bold.ttf") format("truetype");
}