/* Mark Read */
.fa-markread::before,
.fa-mark_read_short::before,
.fa-markselectread::before,
.fa-mark_as_read::before {
	content: "\f00c";
}
/* Not Read */
.fa-mark_unread::before {
	content: "\f00d";
}
/* Read all */
.fa-readall::before {
	content: "\f06e";
}
/* Send Topic */
.fa-send::before {
	content: "\f1d8";
}
/* Notify */
.fa-notify::before,
.fa-unnotify::before {
	content: "\f0f3";
}
/* New Poll */
.fa-post_poll::before,
.fa-new_poll::before,
.fa-add_poll::before {
	content: "\f681";
}
/* Delete */
.fa-remove_poll::before,
.fa-delete::before,
.fa-remove_topic::before {
	content: "\f2ed";
}
/* Restore */
.fa-restore_topic::before {
	content: "\f829";
}
/* New Topic */
.fa-new_topic::before {
	content: "\f15b";
}
/* Move Topic */
.fa-move::before,
.fa-move_topic::before {
	content: "\f0b2";
}
/* Sticky Topic */
.fa-set_sticky::before,
.fa-set_nonsticky::before {
	content: "\f08d";
}
/* Lock Topic */
.fa-set_lock::before {
	content: "\f023";
}
/* Merge Topic */
.fa-merge::before {
	content: "\f248";
}
/* LInk Calendar */
.fa-calendar_link::before {
	content: "\f274";
}
/* Members */
.fa-view_all_members::before,
.fa-mlist::before {
	content: "\f0c0";
}
/* Find Member */
.fa-mlist_search::before {
	content: "\f4fc";
}
/* Calendar */
.fa-calendar::before,
.fa-calendar_upcoming::before {
	content: "\f073";
}
/* Post Event */
.fa-calendar_post_event::before {
	content: "\f271";
}
/* Register */
.fa-register::before {
	content: "\f234";
}
/* Login */
.fa-login::before {
	content: "\f2f6";
}
/* Notifications */
.fa-notifications::before,
.fa-mail::before {
	content: "\f0f3";
}
/* Pokes */
.fa-pokes::before,
.fa-poke::before {
	content: "\f0a4";
}
/* Posts */
.fa-posts::before {
	content: "\f086";
}
/* Drafts */
.fa-drafts::before {
	content: "\f0ea";
}

/* Community */
.menu_icon.fa-community::before {
	content: "\f022";
}
.menu_icon.fa-forum::before,
.fa-forum::before {
	content: "\f07c";
}
/* FA Nav */
nav#main_nav ul.menu_nav li a i.fa-portal::before {
	content: "\f015";
}
/* Help */
.fa-help::before {
	content: "\f128";
}
/* Admin */
.fa-admin::before {
	content: "\f085";
}
/* Mod */
.fa-moderate::before {
	content: "\f7d9";
}
/* Profile */
.fa-profile::before {
	content: "\f007";
}
/* PM */
.fa-pm::before {
	content: "\f0e0";
}
/* Logout */
.fa-logout::before {
	content: "\f2f5";
}
/* Team */
.fa-team::before {
	content: "\f509";
}
/* Shop */
.fa-shop::before {
	content: "\f07a";
}
/* Stats icons */
.fa-recent_posts::before {
	content: "\f550";
}
.fa-forum_stats::before {
	content: "\f200";
}
.fa-online_users::before {
	content: "\f4fd";
}
/* Profile Account */
.fa-maintain::before {
	content: "\f505";
}
/* Profile Details */
.fa-members::before {
	content: "\f7d9";
}
/* Look and Layout */
.fa-features::before {
	content: "\f5fd";
}
/* Ignore List */
.fa-frenemy::before {
	content: "\f502";
}