:root,
:root.theme-default {
	/* Primary color */
		/* Hue */
		--primary-color-hue: 200;
		/* Saturation */
		--primary-color-sat: 50%;
		/* Lightness */
		--primary-color-lum: 75%;
		/* Color */
		--primary-color: hsl(var(--primary-color-hue), var(--primary-color-sat), var(--primary-color-lum));
		/* Color Accent */
		--primary-color-acc: hsl(var(--primary-color-hue), var(--primary-color-sat), 30%);

	/* Secondary color */
		/* Hue */
		--secondary-color-hue: var(--primary-color-hue);
		/* Saturation */
		--secondary-color-sat: 30%;
		/* Lightness */
		--secondary-color-lum: 65%;
		/* Color */
		--secondary-color: hsl(var(--secondary-color-hue), var(--secondary-color-sat), var(--secondary-color-lum));
		/* Color Accent */
		--secondary-color-acc: hsl(var(--secondary-color-hue), var(--secondary-color-sat), 35%);

	/* Body */
		/* Background */
		--body-bg: hsl(var(--primary-color-hue), 35%, 80%);
		/* Color */
		--body-txt-color: hsl(0, 0%, 0%);

	/* Links */
		/* Color */
		--body-link-color: hsl(var(--primary-color-hue), 40%, 40%);

	/* Inputs */
		/* Background */
		--input-bg: hsl(0, 0%, 100%);
		--input-bg-disabled: hsl(0, 0%, 85%);
		/* Color */
		--input-txt-color: hsl(0, 0%, 0%);
		--input-accent-color: hsl(var(--primary-color-hue), 50%, 75%);

	/* Button */
		/* Background */
		--button-bg: var(--secondary-color);
		--button-bg-hover: var(--primary-color);
		/* Color */
		--button-txt-color: hsl(0, 0%, 95%);
		--button-txt-color-hover: hsl(0, 0%, 20%);

	/* New Button */
		/* Background */
		--newbutton-bg: var(--primary-color);
		/* Color */
		--newbutton-txt-color: hsl(0, 0%, 100%);

	/* Catbg */
		/* Background */
		--catbg-bg: hsl(var(--primary-color-hue), 25%, 45%);
		/* Color */
		--catbg-txt-color: hsl(var(--primary-color-hue), 5%, 95%);

	/* Titlebg */
		/* Background */
		--titlebg-bg: linear-gradient(to bottom, hsl(var(--primary-color-hue), 35%, 90%) 0%,var(--windowbg-bg) 100%);
		/* Color */
		--titlebg-txt-color: hsl(var(--primary-color-hue), 10%, 25%);

	/* Windowbg */
		/* Background */
		--windowbg-bg: hsl(var(--primary-color-hue), 25%, 95%);
		--windowbg2-bg: hsl(var(--windowbg2-hue), var(--windowbg2-sat), var(--windowbg2-lum));

	/* Roundframe */
		/* Background */
		--roundframe-bg: var(--windowbg-bg);

	/* Header */
		/* Background */
		--header-bg: hsl(var(--primary-color-hue), 50%, 92%);

	/* Footer */
		/* Background */
		--footer-bg: hsl(var(--primary-color-hue), 50%, 92%);

	/* Nav */
		/* Background */
		--nav-bg: hsl(0, 0%, 95%);

	/* Main Nav Items */
		/* Background */
		--nav-item-bg: transparent;
		--nav-item-bg-hover: transparent;
		--nav-item-bg-active: var(--catbg-bg);
		/* Color */
		--nav-item-txt-color: hsl(0, 0%, 15%);
		--nav-item-txt-color-hover: hsl(var(--primary-color-hue), 25%, 40%);
		--nav-item-txt-color-active: hsl(0, 0%, 100%);

	/* Main Nav Drodown */
		/* Background */
		--nav-dropdown-bg: hsl(0, 0%, 97%);

	/* Main Nav Drodown Items */
		/* Background */
		--nav-dropdown-item-bg: transparent;
		--nav-dropdown-item-bg-hover: var(--nav-item-bg-active);
		/* Color */
		--nav-dropdown-item-txt-color: hsl(0, 0%, 12%);
		--nav-dropdown-item-txt-color-hover: hsl(0, 0%, 100%);

	/* Button List */
		/* Background */
		--buttonlist-bg: hsl(var(--primary-color-hue), 15%, 90%);
		--buttonlist-bg-hover: hsl(var(--primary-color-hue), 15%, 85%);
		--buttonlist-bg-active: var(--catbg-bg);
		/* Color */
		--buttonlist-txt-color: hsl(0, 0%, 10%);
		--buttonlist-txt-color-hover: hsl(0, 0%, 15%);
		--buttonlist-txt-color-active: hsl(0, 0%, 95%);

	/* Subnav Dropdown */
		/* Border */
		--subnav-dropdown-border-width: 1px;
		--subnav-dropdown-border-color: var(--primary-color);
		--subnav-dropdown-border-style: solid;
		--subnav-dropdown-border-radius: 3px;

	/* Profile Cover */
		/* Top Height */
		--profile-cover-image-height: 150px;
		/* Bottom Height */
		--profile-cover-details-height: 75px;

	/* Poster */
		/* Background */
		--poster-bg: hsl(var(--primary-color-hue), 30%, 90%);

	/* Status Colors */
		/* Sticky */
		--status-sticky-bg: hsl(22, 35%, 86%);
		--status-sticky-txt-color: var(--primary-color);
		/* Locked */
		--status-locked-bg: hsl(206, 19%, 86%);
		--status-locked-txt-color: var(--secondary-color-accent);
		/* Approve */
		--status-approve-bg: hsl(21, 66%, 69%);
		--status-approve-txt-color: hsl(8, 46%, 57%);
		/* Approve Topic */
		--status-approvet-bg: hsl(0, 100%, 96%);
}