/* Red */
:root[data-variant="red"] {
	--primary-color-hue: 360;
	--catbg-bg: hsl(var(--primary-color-hue), 40%, 45%);
	--stats-pie-hue: 145deg;
}
/* Red */

/* Green */
:root[data-variant="green"] {
	--primary-color-hue: 115;
	--catbg-bg: hsl(var(--primary-color-hue), 30%, 45%);
	--stats-pie-hue: 245deg;
}
/* Green */

/* Blue */
:root[data-variant="blue"] {
	--primary-color-hue: 205;
	--catbg-bg: hsl(var(--primary-color-hue), 40%, 45%);
	--stats-pie-hue: 0deg;
}
/* Blue */

/* Yellow */
:root[data-variant="yellow"] {
	--primary-color-hue: 50;
	--catbg-bg: hsl(var(--primary-color-hue), 65%, 45%);
	--stats-pie-hue: 200deg;

	&:where([data-mode="dark"], [data-mode="system"]) {
		--catbg-bg: hsl(var(--primary-color-hue), 65%, 30%);
	}
}
/* Yellow Dark Mode */
:root[data-variant="yellow"][data-colormode="dark"]{
	--catbg-bg: hsl(var(--primary-color-hue), 80%, 25%);
}
/* Yellow */

/* Pink */
:root[data-variant="pink"] {
	--primary-color-hue: 340;
	--catbg-bg: hsl(var(--primary-color-hue), 40%, 45%);
	--stats-pie-hue: 120deg;
}
/* Pink */

/* Purple */
:root[data-variant="purple"] {
	--primary-color-hue: 310;
	--catbg-bg: hsl(var(--primary-color-hue), 35%, 45%);
	--stats-pie-hue: 75deg;
}
/* Purple */