:root[data-themecolor="yellow"] {
	--primary-color-hue: 50;
	--body-bg: hsl(var(--primary-color-hue), 40%, 85%); 
	--catbg-bg: hsl(var(--primary-color-hue), 65%, 50%);
}

/* Dark Mode */
:root[data-themecolor="yellow"][data-colormode="dark"]{
	--primary-color-hue: 50;
	--catbg-bg: hsl(var(--primary-color-hue), 80%, 25%);
}